{% extends 'base.html' %}

{% block title %}
Anime Gallery
{% endblock %}

{% block content %}

<div class="columns-2 sm:columns-3 md:columns-4 lg:columns-5 gap-4 p-12">
    {% for poster in posters %}
    <a href="{{ url_for('views.gallery', p_title=poster.title, poster_id=poster.poster_id) }}" class="cursor-pointer">
        <div class="relative mb-4 break-inside-avoid rounded-lg overflow-hidden shadow-lg text-gray-200 bg-gray-800 transition-transform duration-300 hover:scale-105">
            <img src="{{ url_for('static', filename=poster.poster_img) }}" alt="{{ poster.title }}" class="w-full">
            <div class="p-3">
                <h3 class="text-md md:text-lg font-semibold">#{{ poster.title }}</h3>
                <p class="text-sm text-gray-400">
                    {% if poster.created_at %}
                        {{ poster.created_at.strftime('%b %d, %Y') }}, post by {{ poster.owner }}
                    {% else %}
                        Unknown date, post by {{ poster.owner }}
                    {% endif %}
                </p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}